body{
    background: url("../images/gravel.png")
}

.myJumbotron{
    background: brown;
    color: white;
    text-align: center;
    font: bold;
    
}

.container{
    font-family: 'Anton', sans-serif;
    font-family: 'Bitter', serif;
}

